#sellerBT{
    -fx-background-color: #253B2F;
    -fx-border-radius: 200;
    -fx-border-color: #E7E365;
    -fx-background-radius: 200;
    -fx-text-fill: #E7E365;
}

#sellerBT:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #51DA8D, #E4FB11);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}

#collectorBT{
    -fx-background-color: #253B2F;
    -fx-border-radius: 200;
    -fx-border-color: #E7E365;
    -fx-background-radius: 200;
    -fx-text-fill: #E7E365;
}

#collectorBT:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #EEAF32, #4A296C);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}


#backS{
  -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #51DA8D, #E4FB11);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}

#backC{
  -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #EEAF32, #4A296C);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}




#adminBT{
     -fx-background-color: #253B2F;
    -fx-border-radius: 200;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}

#adminBT:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #E60E0A, #874687);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}



#regAdmin:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #E60E0A, #874687);
    -fx-border-radius: 200;
    -fx-border-color: #e8e466;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}


#headerAdmin{
     -fx-background-color: #512501;
    -fx-border-color: #FFFFFF;
   
}


