
#fondoDerecha{
    -fx-background-image: url("../../packagePatrones/assets/images/fantasy.jpg");
    -fx-background-size: 100% 100%;
}

#fondoIzquierda{
    -fx-background-image: url("../../packagePatrones/assets/images/woods.png");
    -fx-background-size: 100% 100%;
}