
#fondoDerecha{
    -fx-background-image: url("/images/inicio_photos/fantasy.jpg");
    -fx-background-size: 100% 100%;
}

#fondoIzquierda{
    -fx-background-image: url("/images/inicio_photos/woods.png");
    -fx-background-size: 100% 100%;
}