.bodybg{
-fx-background-image: url("/background/itemsBG.jpg");
-fx-background-size: 100% 100%;
}



#box{
    -fx-background-image: url("/background/redAbstract.jpg");
    -fx-background-size: 100% 100%;
}

#itemSub{
-fx-background-color: linear-gradient(from 45% 25% to 20% 10%, #136648,  #e8e466);
}